*{
box-sizing:border-box;
}


body{

font-family: Georgia, serif;

background:#faf8f3;

color:#111;

margin:0;

transition:.5s;

}



#themeToggle{

position:fixed;

right:20px;

top:20px;

border:none;

padding:12px;

border-radius:50%;

cursor:pointer;

font-size:20px;

}



.journal-header{

display:flex;

justify-content:space-between;

align-items:center;

padding:30px;

border-bottom:3px solid #1b2745;

}


.logo{

font-size:60px;

}


.journal-header h1{

font-size:30px;

margin:0;

}


.journal-header p{

font-style:italic;

}


.metadata{

text-align:right;

}



.doi{

padding:15px 40px;

border-bottom:1px solid #aaa;

}



main{

max-width:1100px;

margin:auto;

padding:30px;

}



.paper-title{

text-align:center;

}


.paper-title h2{

font-size:45px;

}



.paper-title h3{

font-style:italic;

font-weight:normal;

}



.authors{

display:flex;

justify-content:center;

gap:80px;

}



section{

margin-bottom:50px;

}


.box{

border:2px solid #333;

padding:25px;

background:white;

font-size:20px;

}


.question{

font-size:22px;

font-weight:bold;

}



.keywords{

padding:15px;

border-top:1px solid;

border-bottom:1px solid;

}



.card{

border-left:5px solid #8b0000;

padding:15px;

margin:20px;

background:white;

}



.final{

text-align:center;

}


#heartEquation{

font-size:55px;

animation:pulse 2s infinite;

}



.secret{

font-style:italic;

font-size:20px;

}



/* animación scroll */

.reveal{

animation:appear linear;

animation-timeline:view();

animation-range:entry 0% cover 30%;

}



@keyframes appear{

from{

opacity:0;

transform:translateY(50px);

}


to{

opacity:1;

transform:none;

}

}



@keyframes pulse{

50%{

transform:scale(1.1);

}

}





.dark{

background:#111;

color:white;

}


.dark .box,
.dark .card{

background:#222;

}



@media(max-width:700px){

.journal-header{

flex-direction:column;

text-align:center;

}


.metadata{

text-align:center;

margin-top:20px;

}



.authors{

flex-direction:column;

gap:10px;

}


.paper-title h2{

font-size:30px;

}


#heartEquation{

font-size:35px;

}

}
